*{
    padding: 0;
    margin: 0;

}
body{
    padding: 80px;
    padding-left: 20px;
}
.head{
    background-color: #292e36;
    padding: 30px 30px;
    justify-content: space-between;
    padding-top: 50px;
    border-radius: 2px 2px;
    align-items: center;
    
}

.call{
    color: #fff8f5;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 2px;
    border: #e1b168 solid;
    height: 30px;
    display: inline;
}
.top{
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.cart{
    height: 20px;
    width: 30px
}
.Reserve{
    background-color: #E1b168;
    padding: 10px 20p;
    margin-top: 30px;
    border: 1px solid #e1b168;
    cursor: pointer;
    
}

.nav{
    border:#fff8f5 solid ;
    display: flex;
    color: #fff8f5;
    justify-content: space-between;
    border-width: 1px;
    width: 1100px;

}
.navbar1{ 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: flex-end;
    color: #fff8f5;
    gap:20px;
} 
li a{
    list-style: none;
    color: white;
    text-decoration: none;
}

.nav-link{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    color: #fff8f5;
    justify-items: center;
    justify-content: space-between;
    gap: 60px;
}
.Chefs h2{
    text-align: center;
    padding: 30px 30px;
}
.instag{
    display: flex;
    flex-direction: column;
}
.black{
    background: #292e36;
}
.pasta{
    background-color: white;

}
.pastaa{
    display: inline-block;
}
.italian{
    width: 80px;
    height: 80px;
}
.instag{
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
}
.insta h2{
    align-items: center;
    margin-top: 20px;

}


.instag img{
    width: 100px;
    height: 100px;
    gap: 20px;
}



.reserve-boxe{
    background-color: #292E36;
    padding: 40px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    color: white;
    text-align: center;
}
.tag{
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #ccc;
}
.title{
    font-size: 28px;
    margin-bottom: 30px;
}
.form{
    display:flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    
}
.input{
    flex: 1;
    min-height: 120px;
    padding: 12px;
    background: transparent;
    border: 1px solid#ccc;
    color: white;
    border-radius: 4px;
}
.input::placeholder{
    color: #aaa;
}
.button{
    background: white;
    color:#000;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s;
}
button:hover{
    background: #ddd;
}
.submit{
    width: 200px;
    margin-left: 150px;
}
.footer{
    background-color: #1a1c22;
    color: #ccc;
    padding: 60px 20px 20px;
}
.footer-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
}
.right{
    padding-left:200px;
    margin-top: 80px;
}
.working-{
    margin-top: 100px;
}
.left,
.footer-cent,
.right{
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;
}
.left p{
    margin-top: 90px;
}
.footer-cent .logo{
    margin-bottom: 10px;
}
.footer-cent p{
    padding: 30px;
}
.news{
    display: flex;
    margin-top: 15px;
}
.news input{
    padding: 10px;
    flex: 1;
    border: 1px solid#444;
    background-color: #111;
    color: #fff;
}
.news button{
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}
.bottonright h4{
    margin-bottom: 10px;
    color: #fff;
    
}
.button1{
    max-width: 1100px;
    margin: auto;
    padding-top: 20px;
    border-top: 1px solid#333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0.85rem;
    color: #888;
}
.contact h4{
    margin-bottom: 5px;
    color: #fff;
}
.contact a{
    text-decoration: none;
    color: #f5c25c;
}
